<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringEcom (H2 fallback)" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="local" />
    <envs>
      <env name="DB_URL" value="jdbc:postgresql://localhost:5432/telusko2" />
      <env name="DB_USERNAME" value="postgres" />
      <env name="DB_PASSWORD" value="laknight07" />
    </envs>
    <module name="SpringEcom" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.telusko.SpringEcom.SpringEcomApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>